In [ ]:
# --- STEP 1: Import Libraries ---
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# --- STEP 2: Load the dataset ---
# Note: adjust encoding if you get errors (e.g., encoding='latin1')
df = pd.read_csv('data/Crimes_-_2001_to_Present.csv')

# --- STEP 3: Preview the dataset ---
print("Shape of dataset:", df.shape)
print("\nColumns in dataset:\n", df.columns.tolist())
print("\nData sample:")
display(df.head())

# --- STEP 4: Check for nulls and data types ---
print("\nMissing values in each column:")
display(df.isnull().sum())

print("\nData types:")
display(df.dtypes)

Shape of dataset: (7784664, 22)

Columns in dataset:
 ['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location']

Data sample:

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

Missing values in each column:

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10381
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614848
Community Area          613476
FBI Code                     0
X Coordinate             86848
Y Coordinate             86848
Year                         0
Updated On                   0
Latitude                 86848
Longitude                86848
Location                 86848
dtype: int64

Data types:

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [2]:
# --- STEP 5: Handling Missing Values ---

# For numeric columns, fill missing with mean/median
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()

for col in numeric_cols:
    missing_count = df[col].isnull().sum()
    if missing_count > 0:
        if df[col].skew() > 1 or df[col].skew() < -1:
            # If skewed, use median
            df[col].fillna(df[col].median(), inplace=True)
            print(f"Filled missing values in {col} with median")
        else:
            # Otherwise use mean
            df[col].fillna(df[col].mean(), inplace=True)
            print(f"Filled missing values in {col} with mean")

# For categorical columns, fill missing with 'Unknown'
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

for col in categorical_cols:
    missing_count = df[col].isnull().sum()
    if missing_count > 0:
        df[col].fillna('Unknown', inplace=True)
        print(f"Filled missing values in {col} with 'Unknown'")

/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

Filled missing values in District with mean
Filled missing values in Ward with mean
Filled missing values in Community Area with mean
Filled missing values in X Coordinate with median

/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

Filled missing values in Y Coordinate with median

/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

Filled missing values in Latitude with median

/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

Filled missing values in Longitude with median

/var/folders/fc/fs9j8_5j73v0dccgsvwrdxmc0000gn/T/ipykernel_3477/4236707110.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)

Filled missing values in Case Number with 'Unknown'
Filled missing values in Location Description with 'Unknown'
Filled missing values in Location with 'Unknown'

In [3]:
# --- STEP 6: Outlier Detection and Removal ---

# Choose numeric columns where outliers make sense
columns_to_check = ['Latitude', 'Longitude']  # Add more if needed

# Using Z-score
for col in columns_to_check:
    z_scores = np.abs(stats.zscore(df[col]))
    threshold = 3
    before_rows = df.shape[0]
    df = df[z_scores < threshold]
    after_rows = df.shape[0]
    print(f"Removed {before_rows - after_rows} outliers from {col} using Z-score method")

# Using IQR
for col in columns_to_check:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    before_rows = df.shape[0]
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    after_rows = df.shape[0]
    print(f"Removed {before_rows - after_rows} outliers from {col} using IQR method")

Removed 118 outliers from Latitude using Z-score method
Removed 30201 outliers from Longitude using Z-score method
Removed 0 outliers from Latitude using IQR method
Removed 9575 outliers from Longitude using IQR method

In [4]:
# --- STEP 7: Standardize Categorical Text Data ---

# Clean text columns: remove leading/trailing spaces and lower case
for col in categorical_cols:
    df[col] = df[col].str.strip().str.upper()

print("Standardized text fields.")

# --- STEP 8: Drop Duplicates ---
before_dupes = df.shape[0]
df.drop_duplicates(inplace=True)
after_dupes = df.shape[0]
print(f"Dropped {before_dupes - after_dupes} duplicate rows.")

Standardized text fields.
Dropped 0 duplicate rows.

In [5]:
# --- STEP 11: Drop Unnecessary Columns ---

# List of columns you want to drop
cols_to_drop = [
    'ID',          # Probably a meaningless unique ID for each row
    'Case Number', # Not useful for analysis
    'Updated On',  # Update timestamp, probably not needed
    'FBI Code',    # Very detailed classification not needed for general analysis
    'Beat',        # Super specific police beat info
    'IUCR',        # Internal Chicago code for crimes
    'X Coordinate', 'Y Coordinate', # Raw cartesian coordinates, we have Lat/Lon already
    'Location'     # Redundant with Latitude/Longitude
]

# Drop the columns if they exist
df.drop(columns=[col for col in cols_to_drop if col in df.columns], inplace=True)

print(f"Dropped {len(cols_to_drop)} unnecessary columns.")

Dropped 9 unnecessary columns.

In [6]:
# Preview cleaned DataFrame
print("Remaining columns:")
print(df.columns.tolist())
display(df.head())

Remaining columns:
['Date', 'Block', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'District', 'Ward', 'Community Area', 'Year', 'Latitude', 'Longitude']

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District,Ward,Community Area,Year,Latitude,Longitude
0,09/05/2015 01:30:00 PM,043XX S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,9.0,12.0,61.0,2015,41.815117,-87.670000
1,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,False,False,15.0,29.0,25.0,2015,41.895080,-87.765400
2,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,False,True,6.0,8.0,44.0,2018,41.855908,-87.665842
3,09/05/2015 12:45:00 PM,035XX W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,14.0,35.0,21.0,2015,41.937406,-87.716650
4,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,False,True,15.0,28.0,25.0,2015,41.881903,-87.755121

In [ ]:
# --- STEP 13: Drop the first and last year ---
#these years are not completely filled

# Find min and max years
first_year = df['Year'].min()
last_year = df['Year'].max()

print(f"First year in data: {first_year}")
print(f"Last year in data: {last_year}")

# Filter out first and last year
df = df[(df['Year'] != first_year) & (df['Year'] != last_year)]

print(f"✅ Dropped records from {first_year} and {last_year}.")
print("Remaining years:", sorted(df['Year'].unique()))

First year in data: 2001
Last year in data: 2023
✅ Dropped records from 2001 and 2023.
Remaining years: [np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022)]

In [9]:
# --- STEP 12: Export Cleaned Data to CSV ---

# Save the cleaned DataFrame to the 'data' folder
df.to_csv('data/CleanedCrime.csv', index=False)

print("✅ Cleaned data exported successfully to 'data/CleanedCrime.csv'")

✅ Cleaned data exported successfully to 'data/CleanedCrime.csv'